body{
  background-color:#fce123;
}
.flex-main{
  display:flex;
  flex-direction:row;
}
.profile-card{
  width:25%;
  background-color:#ddd;
  padding:2%;
  margin: 2%;
}
.content-card{
  width:75%;
  background:#ddd;
  padding:2%
  margin:2%
}
.profile-image{
  display: block;
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right:auto;

border-style:groove;
}

h2,h3,h4{
  text-align: center;
}
@media only screen and (min-width:320px) and (max-width:468px){
  .flex-main{
    display:flex;
    flex-direction:row;
  }
  .profile-card{
    width:100%;
    background-color:#ddd;
    padding:2%;
    margin: 2%;
  }
  .content-card{
    width:100%;
    background:#ddd;
    padding:2%;
    margin:2%;
  }
}
@media only screen and (min-width:469px) and (max-width:768px){
  .flex-main{
    display:flex;
    flex-direction:row;
  }
  .profile-card{
    width:100%;
    background-color:#ddd;
    padding:2%;
    margin: 2%;
  }
  .content-card{
    width:100%;
    background:#ddd;
    padding:2%;
    margin:2%;
  }
}

@media only screen and (min-width:769px) and (max-width:1024px){
  .flex-main{
    display:flex;
    flex-direction:row;
  }
  .profile-card{
    width:100%;
    background-color:#ddd;
    padding:2%;
    margin: 2%;
  }
  .content-card{
    width:100%;
    background:#ddd;
    padding:2%;
    margin:2%;
  }
}
